.Auth-container {
    background-image: url(../src/assets/images/bg-auth.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-overlay {
    background: linear-gradient(45deg, rgba(47, 140, 96, 0.5), rgba(0, 0, 0, 0.7));
}

.fs-12 {
    font-size: 12px !important;
}

.sidebarContainer .logoLi {
    padding: 38px 50px 71px 0px;
    /* text-align: center; */
}
.logocollapsed {
    width: 90px;
    height: 34px;
}   
.sidebarlogo {
    transition: all 0.3s;
    display: block;
}

.sidebarContainer .ps-sidebar-container {
    background-color: #1f263e;
    height: 100vh;
    color: #fff;
    border-top-right-radius: 58px;
}

.sidebarContainer .ps-menu-button:hover {
    background-color: rgba(47, 140, 96, 0.5) !important;
    border-left: 5px solid rgb(47, 140, 96);
}

.sidebarContainer .ps-menu-button {
    transition: all 0.3s;
}
.sidebarContainer .active{
    background-color: rgba(47, 140, 96, 0.1) !important;
    border-left: 5px solid rgb(47, 140, 96);
}
.sidebarContainer .logoLi a:hover {
    background-color: transparent !important;
    border-left: none
}
.header-bg {
    background-image: url(../src/assets/images/headerBg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 12px 85px 0px ;
}
.bg-main{
    background-color: #1F384C;
}
.text-dark-main{
    color: #1F384C ;
}
.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .nav-item{
    margin-left: 10px;
  }


.categories .table td{
    color: #1f263e;
    font-size: 14px;
}
.categories .table {
    border-radius: 10px;
    background-color: #E2E5EB;
}
.categories .table th{
    background-color: transparent;
    color: #1f263e;
    padding-block: 10px;    
}
.greenMain{
    color: #009247;
}
.greenMainBg{
    background-color: #009247 !;
}
.actionDropdown{
    transform: translate3d(-99.6364px, -73.0909px, 0px) !important;
    --bs-dropdown-min-width: 2rem !important;
    width: 120px;
}
.closeBtn{
    color: red;
    border: 1px solid red;  
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.modalText{
    color: #494949;
}
.recipeImg{
    width: 65px;
    height: 65px;
    border-radius: 8px;
}
.overflowx-auto{
    overflow-x: auto;
}